@model TheIdealProject_Web_MVC.Models.Tm_Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tm_Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product_TlProductFk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_TlProductFk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDevelperNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDevelperNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productIsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productIsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productIsViewable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productIsViewable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productIsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productIsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productCreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productCreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tm_Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tm_Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tm_User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tm_User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tm_User1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tm_User1.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
