@model IEnumerable<TheIdealProject_Web_MVC.Models.Tm_Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_TlProductFk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productDevelperNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productIsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productIsViewable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productIsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productCreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productModifiedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tm_Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tm_User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tm_User1.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_TlProductFk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productDevelperNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productIsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productIsViewable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productIsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productCreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productModifiedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tm_Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tm_User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tm_User1.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TmProductPk }) |
            @Html.ActionLink("Details", "Details", new { id=item.TmProductPk }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TmProductPk })
        </td>
    </tr>
}

</table>
